.arrow-up {
    @include flex-container(center, center);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #FFAC1C;
    border-radius: 50%;
    background-color: #FFAC1C;
    font-size: 2.5rem;
    width: 70px;
    height: 70px;
}