.dishes-list {
    @include flex-container(flex-start, space-around);
    max-width: 1205px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .dishes-list {
        max-width: 963px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .dishes-list {
        @include flex-container(flex-start, space-around);
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 24px 0 52px;
    }
}

@media screen and (max-width: 650px) {
    .dishes-list {
        margin: 0;
    }
}