.footer {
    background-color: #262626;
    color: $primary-color;
    @include flex-container(center, center);
    flex-direction: column;
    text-align: center;
    &__title {
        font-size: 3.5rem;
    }
    &__schedule {
        @include text-size($large-font-size, $light-font-weight);
    }
}

@media screen and (max-width:1024px) {
    .footer {
        &__title {
            font-size: 2.5rem;
        }
        &__schedule {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:768px) {
    .footer {
        &__title {
            font-size: 2rem;
        }
        &__schedule {
            font-size: $small-font-size;
        }
    }
}