    .image-wrapper {
        width: calc((100% - 24px) / 2);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:nth-of-type(even) {
            margin-left: 24px;
        }
        &:nth-of-type(-n+4) {
            margin-bottom: 24px;
        }
    }
    
    @media screen and (max-width: 1024px) {
        .image-wrapper {
            &:nth-of-type(even) {
                margin-left: 12px;
            }
            &:nth-of-type(-n+4) {
                margin-bottom: 12px;
            }
        }
    }