.menu {
    margin: 0 auto;
    &__text {
        margin: 30px 0 60px;
        @include text-size($large-font-size, $light-font-weight);
        text-align: center;
    }
}

@media screen and (max-width:1240px) and (min-width: 768px) {
    .menu {
        padding-left: 29px;
    }
}

@media screen and (max-width:1024px) {
    .menu {
        &__text {
            font-size: $medium-font-size;
        }
    }
}

@media screen and (max-width:768px) {
    .menu {
        margin: 20px 0 58px;
        &__text {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:650px) {
    .menu {
        margin: 0;
    }
}