@mixin flex-container($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin text-center {
    margin: 0 auto;
    text-align: center;
}

@mixin text-size($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin circle-before($content, $bg-color) {
    content: $content;
    position: absolute;
    border-radius: 50%;
    color: $primary-color;
    border: 1px solid $bg-color;
    background-color: $bg-color;
    width: 58px;
    height: 58px;
    top: -29px;
    left: -29px;
    line-height: 58px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: $bold-font-weight;
}