@import '_variables';
@import '_mixins';
@import '_about';
@import '_arrow-up';
@import '_banner';
@import 'button';
@import '_chef';
@import '_chef-img';
@import '_common';
@import '_contacts';
@import '_dish';
@import '_dishes-list';
@import '_footer';
@import '_gallery';
@import '_header';
@import '_icons';
@import '_image-wrapper';
@import '_images';
@import '_intro';
@import '_logo';
@import '_main';
@import '_menu';
@import '_navigation';
@import '_section-title';
@import '_wrapper';