.about {
    background-color: $bg-color;
    &__text {
        @include text-center;
        @include text-size($extralarge-font-size, $light-font-weight);
        max-width: 941px;
    }
}

@media screen and (max-width:1024px) {
    .about {
        &__text {
            font-size: $medium-font-size;
            max-width: 602px;
        }
    }
}

@media screen and (max-width:768px) {
    .about {
        &__text {
            font-size: 1rem;
            max-width: 541px;
        }
    }
}