.banner {
    padding: 218px 0 185px;
    &__title {
        font-size: 4.25rem;
        @include text-center;
        text-transform: uppercase;
        max-width: 914px;
    }
    &__text {
        font-size: $large-font-size;
        margin: 35px 0 60px;
        text-align: center;
    }
}

@media screen and (max-width:1024px) {
    .banner {
        padding: 183px 0 153px;
        &__title {
            font-size: 3rem;
        }
        &__text {
            font-size: $small-font-size;
        }
    }
}

@media screen and (max-width:768px) {
    .banner {
        padding: 171px 0 99px;
        &__title {
            font-size: 2.5rem;
            max-width: 430px;
        }
    }
}