* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-family: "Source Serif 4", "Source Serif Pro", sans-serif;
}

section,
footer {
    padding: 100px 0;
}

a {
    text-decoration: none;
    color: $primary-color;
}

@media screen and (max-width: 1024px) {
    section,
    footer {
        padding: 80px 0;
    }
}

@media screen and (max-width: 768px) {
    section,
    footer {
        padding: 70px 0;
    }
}