.contacts {
    @include flex-container(center, center);
    flex-direction: column;
    margin: 60px 0;
    @include text-size(1.75rem, $light-font-weight);
}

@media screen and (max-width:1024px) {
    .contacts {
        font-size: $large-font-size;
    }
}

@media screen and (max-width:768px) {
    .contacts {
        font-size: $medium-font-size;
    }
}