    .dish {
        position: relative;
        @include flex-container(flex-start, space-between);
        flex-direction: column;
        flex-wrap: wrap;
        width: calc((100% - 48px * 2) / 3);
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
        &__info {
            margin-top: 35px;
        }
        &__title {
            font-size: $extralarge-font-size;
        }
        &__text {
            @include text-size($small-font-size, $light-font-weight);
            color: $secondary-color;
            margin: 15px 0;
        }
        &__price {
            @include text-size($small-font-size, 700);
        }
        &--red {
            &::before {
                @include circle-before("HOT!", #D33B3B);
            }
        }
        &--green {
            &::before {
                @include circle-before("NEW!", #B3E151);
            }
        }
        &--yellow {
            &::before {
                @include circle-before("HIT!", #E5A434);
            }
        }
    }
    
    @media screen and (max-width: 1024px) {
        .dish {
            &__title {
                font-size: $large-font-size;
            }
            &__price,
            &__text {
                font-size: 0.75rem;
            }
            &::before {
                width: 46px;
                height: 46px;
                line-height: 46px;
                top: -23px;
                left: -23px;
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        .dish {
            @include flex-container(flex-start, flex-start);
            flex-direction: row;
            width: 100%;
            flex-wrap: nowrap;
            margin-bottom: 30px;
            &__info {
                margin-left: 24px;
                margin-top: 0;
            }
            &__title {
                margin-top: 0;
            }
            &__text,
            &__price {
                font-size: 1rem;
            }
            &::before {
                width: 56px;
                height: 56px;
                line-height: 56px;
                top: -28px;
                left: -28px;
            }
        }
    }
    
    @media screen and (max-width:768px) and (min-width:650px) {
        .dish {
            &__text {
                max-width: 348px;
            }
        }
    }
    
    @media screen and (max-width:1024px) and (min-width:768px) {
        .dish {
            &::before {
                font-size: 0.6rem;
            }
        }
    }
    
    @media screen and (max-width: 650px) {
        .dish {
            flex-direction: column;
            align-items: stretch;
            width: 80%;
            margin: 0 auto 40px;
            &:last-of-type {
                margin-bottom: 0;
            }
            &__info {
                margin-left: 0;
            }
        }
    }