.images {
    padding-bottom: 0;
    @include flex-container(center, center);
    padding: 100px 24px 0 24px;
}

@media screen and (max-width:1440px) {
    .images {
        padding: 80px 12px 0 12px;
    }
}

@media screen and (max-width: 768px) {
    .images {
        padding: 70px 24px 0 24px;
    }
}