.section-title {
    @include text-size(2rem, $bold-font-weight);
    text-align: center;
}

@media screen and (max-width:1024px) {
    .section-title {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:768px) {
    .section-title {
        font-size: $extralarge-font-size;
    }
}