$primary-color: #fff;
$secondary-color: #474747;
$button-color: #FFA60D;
$bg-color: #F3F7EA;
$bold-font-weight: 600;
$light-font-weight: 300;
$small-font-size: 18px;
$medium-font-size: 22px;
$large-font-size: 25px;
$extralarge-font-size: 30px;